.vscode/**
.vscode-test/**
.kilo/**
.gitignore
.gitattributes
node_modules/**
test/**
integration/**
images/**
!images/icon.png
jsconfig.json
package-lock.json
*.vsix
**/*.map
.github/**
.editorconfig
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md
